/*---------*/
/* general */
/*---------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------*/
/* hero landing page */
/*-------------------*/

#hero_header {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* white to gray gradient (not all that attractive, but good for rain) */
  /* background: linear-gradient(to bottom, #fff, #dcdcdc); */
  /* cube palette cream color (cute)*/
  /* background: #fff7d6; */
  /* generic gradient (like it, but would need some sort of line sketch on top */
  /* background: linear-gradient(to bottom left, #f9f871, #003897); */
  /* skip shade gradient (really like this one) */
  background: linear-gradient(to bottom right, #6bfbce, #007fce);
  overflow: hidden;
}

#header_text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  font-style: "Thin 100";
}

#header_text h1 {
  font-size: 6vw;
  margin: 2vh;
}

#name_input {
  background-color: transparent;
  height: 6vw;
  border: none;
  border-bottom: 0.1vw solid black;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/*--------------------*/
/* animation for rain */
/*--------------------*/
#rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 2vw;
  height: 10vh;
  opacity: 0.5;
  animation: drop 1.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  90% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(98vh);
  }
}

.stem {
  width: 0.5vw;
  height: 60%;
  margin-left: 1vw;
  animation: stem 1.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 3vw;
  height: 2.5vw;
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(0);
  animation: splat 1.5s linear infinite;
}

@keyframes splat {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  80% {
    opacity: 0.5;
    transform: scale(0);
  }
  90% {
    opacity: 0.25;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

/*------------*/
/* navigation */
/*------------*/

#nav_bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background: #e9e9e9;
  height: 10vh;
  overflow: hidden;
  box-shadow: 0 0.5vw 0.5vw -0.5vw rgba(0, 0, 0, .2);
}

#nav_bar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #003897;
}

/* for phones */
@media screen and (max-width: 320px) {

}

/* for laptops/tablets */
@media screen and (max-width: 768px) {

}

/*---------------*/
/* landing page  */
/* about section */
/*---------------*/

#about_sec {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #dcdcdc;
}

#about_sec img {
  flex-grow: 1;
  max-width: 100%;
}

#about_sec div {
  flex-grow: 2;
}
